* {transition: all 0.5s;}

body {
    font-family: "Playfair Display", serif;
}

h6 {
    color: whitesmoke
}

h1 {
    color: whitesmoke;
    text-shadow: 0px 0px 2px whitesmoke;
}

/* Navbar elements */
.navbar {
    background-color: black;
    height: 5rem;
    box-shadow: 0px 4px 10px black;
    position: sticky;
    top: 0;
    z-index: 1;
}

.offcanvas-body {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.5s;
}

.menu:hover {
    transform: translateY(-5px);
    border-bottom: 3px solid white;
    padding-bottom: 0.5rem;
}




/* Footer elements */
.footer {
    background-color: black;
    height: 5rem;
    position: sticky;
    bottom: 0;
}

/* Home */
.text-light {
    text-shadow: 0px 0px 1.5px white;
}

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background-color: #212529;
    min-height: 100vh;
}

.btn-close {
    transition: rotate 0.5s;
}

.btn-close:hover {
    rotate: 90deg;
    color: gray
}

.social {
    transition: all 0.5s;
}

.social:hover {transform: translateY(-5px);}

a, a:active, a:visited {
    text-decoration: none;
    color: white;
    text-shadow: 0px 0px 1.5px white;
    transition: all 0.5s;
}

a:hover {
    color: rgb(180, 180, 180);
}

.btn-close-white:hover {
    color: gray
}

.jbtn {
    background-color: aliceblue;
    transition: all 0.5s;
    box-shadow: 2px 2px 6px black;
}

.jbtn:hover {
    background-color: black;
    color: white;
    transform: translateY(-5px);
}

.offcanvas {
    background-color: black;
}

h5 {
    color: whitesmoke
}

.footer i {
    color: whitesmoke
}

/* Nuestra carta */
.nuestra-carta img {
    width: 50%;
}

/* Ubicación */
.ubicacion {
    height: 100%;
}

iframe {
    width: 850px;
    height: 700px;
    box-shadow: 0px 0px 10px 7px black;
}

video {
    height: 640px;
    width: 335px;
    object-fit: cover;
    box-shadow: 0px 0px 20px 10px black;
}

.jumbo-p {
    color: whitesmoke;
    text-shadow: 0px 0px 1px whitesmoke;
}

@media (max-width: 768px) {
    video {
        height: 160px;
        object-fit: cover;
        box-shadow: 0px 0px 20px 10px black;
    }

    iframe {
        width: 430px;
        height: 530px;
    }

    .offcanvas-body {
        flex-direction: column;
        gap: 2rem;
    }

    .offcanvas.offcanvas-top.myoffcanvas-top {
    --bs-offcanvas-height: 70vh;
  }
}   

.lightModeBtn {
    border: none;
    font-size: 1.3rem;
    color: aliceblue;
    background-color: black;
}

.work-with-us {
    color: whitesmoke;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #212529;
    gap: 1rem;
}

.work-with-us-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.form-div {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.form-textarea {
    grid-column: span 2;
}

input {
    color: whitesmoke;
    border-radius: 20px;
    padding: 10px;
    border: 1px solid black;
    background-color: #000000;
    outline: none;
}

input:hover {
    background-color: #1e1e1e;
}

input:focus {
    border: 1px solid whitesmoke;
}

textarea {
    border-radius: 20px;
    padding: 10px;
}

.reviews {
    max-width: 100%;
    max-height: 100%;
    z-index: 0;
}

.carta {
    background-color: #212529;
    min-height: 100vh;
}

.plato {
    border-bottom: 0.25px solid whitesmoke;
    border-top: 0.25px solid whitesmoke;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 50%;
    text-align: center;
}

.plato:hover {
    border-bottom: 3px solid whitesmoke;
    border-top: 3px solid whitesmoke;
}